*{
    margin: 0;
    padding: 0;
}

#navbar{
    display: flex;
    background-color: #A80B20;
}

.nav_txt{
    margin: 50px;
    font-size: 18px;
    color: white;
}

#nav_img{
    margin: 35px 50px 20px 50px;
    width: 60px;
    height: 60px;
}

#title{
    text-align: center;
    margin: 50px;
}

.title_txt{
    margin: 0px 30px 0px 30px;
    font-size: 25px;
}

#title_ferrari{
    color: #ffffff;
    font-size: 60px;
    margin-bottom: 30px;
}


.forms{
    margin: 60px;
}

.forms_pess_linha{
    margin: 25px;
    display: flex;
}

#forms_instagram{
    width: 250px;
}

#forms_pess input{
    margin-left: 15px;
}

.forms{
    background-color: rgb(255, 255, 255);
    width: 35%;
    padding: 90px;
    border-radius: 15px;
}

#box_forms{
    background-color: #000000;
    padding: 50px;
}

.forms_ctt_linha{
    display: flex;
    margin: 25px;
}

#title{
    background-image: url(img/Ferrari-SF-25\ \(10\).jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 50px;

}

#forms_ctt input{
    margin-left: 15px;
}

.forms_carro_linha{
    display: flex;
    margin: 25px;
}

#forms_carro input{
    margin-left: 15px;

}

#forms_pesquisa_modelo{
    width: 250px;
}

.forms_hist_linha{
    margin: 25px;
    display: flex;
}

#forms_hist input{
    margin-left: 15px;
}

#forms_finalidade{
    margin-left: 15px;
}

.forms_troca_linha{
    margin: 25px;
    display: flex;
}

#forms_troca input{
    margin-left: 15px;
}

.forms_final_linha{

    margin: 25px;
}


#botoes{
    display: flex;
    justify-content: space-around;
    background-color: black;
}

.botoes_inner{
    background-color: #A80B20;
    color: white;
    padding: 20px;
    border: 0;
    border-radius: 15px;
    width: 300px;
    height: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}